.bg-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    color: black;
}
.sub-container{
   background-color: lightblue;
   min-height: 50vh;
   width: 500px;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;  
}
.profile-image{
    height:100px;
    width:100px;
    margin: 20px;
}
p{
 max-width: 250px;
 text-align: center;
}